.searchbar__btn {
    box-shadow: 0px 5px 0 rgba(93, 108, 93, 1);
}

.friends__table tr:nth-child(odd){
    background-color: #D6D4A1;
}

.friends__table tr:nth-child(even){
    background-color: #f6f6ec;
}

.searchbar__input, .searchbar__input:focus{
    outline: none;
}
