{% extends '../Authentication/auth-base.html' %}
{% load widget_tweaks %}
{% load account socialaccount %}
{% block title %}
    <title>Login</title>
{% endblock title %}
{% block content %}
    <div class="flex-center flex-col mb-12">
        <h1 class="text-3xl mb-1 text-registration-title">Aww snap!</h1>
        <h4 class="text-registration-title">Give us your username and we'll send a reset link right back.</h4>
    </div>
    <div class='flex flex-col items-center'>

        <form action="" method="POST" class="flex flex-col items-center">
            {% csrf_token %}
            <div class="mb-4">
                <p class="text-[0.8rem] form-label">Email</p>
                {% render_field form.email class="text-input placeholder-opacity-40 placeholder-form-label" type="email" placeholder="Eg: arthur@theholygrail.com"%}
            </div>
            {% if form.errors %}
            <div class="text-red-700 w-full px-4 py-3 rounded-md text-sm mb-4 border-red-400 border-2 bg-red-200 flex">*{{ form.non_field_errors }}</div>
            {% endif %}
            <a href="{% url 'account_reset_password' %}"><button type="submit" class="bg-btn border-2 btn-hover border-btn-shadow drop-shadow-btn-large rounded-lg text-white w-[19.5rem] py-2 mt-3">Reset password</button></a>
        </form>
    </div>
{% endblock content %}