<div class="main__sidebar-leaderboard flex flex-col py-5 px-7 rounded-2xl w-full">
    <div class="leaderboard__header flex mb-3 justify-between items-baseline">
        <p class="text-md text-primary text-md font-medium mt-1">Today's leaderboard</p>
        {% if leaderboard_list %}
        <a hx-get="{% url 'leaderboard' %}" hx-target=".main-homepage" hx-swap="innerHTML" hx-trigger="click" hx-push-url="true" class="leaderboard__see_all cursor-pointer hover:shadow-none transition hover:translate-y-0.5 w-14 h-5 text-xs">See all</a>
        {% endif %}
    </div>
    {% if leaderboard_list %}
    {% for user in leaderboard_list %}
        {% #leaderboard-card name=user.get_fullname country=user.profile.country image=user.profile.image.url %}
            {% badge type=forloop.counter %}
        {% /leaderboard-card %}
    {% endfor %}
    {% else %}
        <p class='text-sm mt-2 text-gray-800 opacity-80'>There isn't anybody on the leaderboard yet. Why don't you be one?</p>
        <div class='mt-4'>{% #button click="data.pomoOverlay = true, pomodoro.init()" %} Let's do it {% /button %}</div>
    {% endif %}
</div>