{% load tailwind_tags %}
<div class="post mt-2.5 w-full border-2 border-container rounded-2xl bg-white flex flex-col px-7">
        <div class="username__and__image mb-2  flex items-center w-full">
            <div class="h-16 w-16 flex justify-center rounded-full items-center ">
                <img src="{{ image }}" class="rounded-full  h-15 w-15" alt="">
            </div>
            <div class="pl-2 flex h-[45px] flex-col flex-auto justify-between items-start p-0.5">
                <p hx-post="{% url 'friend profile' user_id %}" hx-target=".main-homepage" hx-swap="innerHTML swap:800ms" hx-trigger="click" hx-push-url="true" class="username hover:text-blue-500 cursor-pointer text-md font-medium text-gray-800">
                    {{ fullname }}
                </p>
                <p class="text-gray-500 text-xs mt-0.5">
                    @{{ username }} • {{ post_time }}
                </p>
            </div>
        </div>
    <div class="Status text-[15.5px] font-normal pl-2  mb-3">
       <p class="">Just completed {{ task_time }} minutes of {{ emoji }}<span class="font-medium text-md"> {{ task }}</span>. You go {{ firstname }}!</p>
    </div>
    <div class="Like__comment flex">
        {% like-btn-wrapper id=id task_obj=task_obj user=user likes=likes %}
        <div hx-get="{% url 'post details' id %}" hx-swap="innerHTML" hx-target="#posts" hx-trigger="click" class="ml-5 comment cursor-pointer hover:bg-container-blunt px-2 py-0.5 rounded-md flex items-center justify-start pl-3">
            {% comment-button %}
            <p class="comments text-gray-800 text-xs ml-1">{{ comments }} Comments</p>
        </div>
    </div>
</div>
