<div class="main__content pt-5 flex gap-1 justify-center" x-data = "{data: '', pomodoro:pomodoro()}" x-init="data = modal(), pomodoro.init()">
            {% include './pomodoro.html' %}
    <!-- Sidebar -->
    <div class="main__sidebar flex flex-col justify-start">
        {% include './profile.html' %}
        {% include './leaderboard.html' %}
    </div>

    <!-- Create and read posts -->
    <div class="posts overflow-auto">
            {% include './create-post.html' %}
        <div class="all__posts  flex flex-col h-full w-full ">

            {% for post in posts %}
    <!--{% #post firstname="{{post.task}}" lastname = {{ post.task_completed_by.last_name }} username = {{ post.task_completed_by.username }} post_time = {{ post.task_completion_date }} task_time = {{ post.time_in_seconds }} task = {{ post.task }}  likes= {{ post.like_count }}  %} {% /post %}-->
                {% post image=post.completed_by.profile.image.url fullname=post.completed_by.get_fullname username=post.completed_by.username post_time=post.posted_time emoji="🧠" task_time=post.time_in_minutes task=post.task firstname=post.completed_by.first_name likes=post.like_count comments=post.comment_count%}
            {% endfor %}
        </div>
    </div>
</div>