
<section x-transition x-cloak x-data="{ tab:'timer' }" x-show="data.pomoOverlay" class="overlay absolute top-0 left-0 h-full w-full flex justify-center items-center">

    <div x-cloak class="pomodoro relative rounded-2xl border-2 py-7 px-5 w-[453px] h-[653px] flex flex-col gap-4 items-center">

     <!-- Close Button -->

        <button x-on:click="data.pomoOverlay = false, pomodoro.stopPomodoro()" x-show="data.pomoOverlay" class="btn__pomodoro-close rotate-45 absolute top-5 right-5 z-30 p-0.5 rounded-full text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white rotate-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
        </button>

        <!-- Option -->

        <div hx-get="{% url 'timer tab' %}" hx-swap="outerHTML" hx-target=".blocked-sites" hx-trigger="click" class="pomodoro__option flex gap-2 font-medium text-sm p-1.5 mt-6 rounded-lg">
            <div x-on:click="tab = 'timer'" :class="tab == 'timer' ? 'pomodoro__option-item1' : '' "class=" px-5 py-1.5 cursor-pointer rounded-md">
                <p>Timer</p>
            </div>
            <div hx-get="{% url 'site tab' %}" hx-swap="outerHTML" hx-target=".timer" hx-trigger="click" x-on:click="tab = 'site'" :class="tab == 'site' ? 'pomodoro__option-item1' : '' " class="px-5 py-1.5 rounded-md cursor-pointer">
                <p>Blocked websites</p>
            </div>
            {% comment %} <div class="pomodoro__option-item2 px-5 py-1.5 rounded-md">
                <p>Break</p>
            </div> {% endcomment %}
        </div>

        <!-- Clock -->
        {% include './clock.html' %}
        {% comment %} {% include './blocked-websites.html' %} {% endcomment %}
    </div>
</section>