<div class="main__content mt-5 flex flex-col items-center">
    <div class="w-[43rem] shadow-custom ">
        <div class="bg-primary rounded-t-2xl h-32">
        </div>
        <div class="bg-white px-10 rounded-b-2xl ">
            <section class="profile__container w-full rounded-xl flex justify-between">
                <div class="flex gap-3 items-center ">
                    <div class="profile__image rounded-full h-28 w-28 -mt-10">
                        <img class="rounded-full" src="{{profile.image.url}}" alt="">
                    </div>
                    <div class="profile__about mt-2">
                        <h1 class="font-medium text-lg text-gray-800">{{ user.get_fullname }}</h1>
                        <h4 class="text-gray-500 text-xs mb-2">@{{ user.username }}</h4>
                        <p class="text-gray-600 text-md max-w-sm">
                            {{ user.profile.status }}
                        </p>
                    </div>
                </div>
                <div class="align-self-end mt-4">
                    {% if status == "friend" %}
                        {% friend-remove  id=profile.id %}
                    {% elif status == "pending" %}
                        {% friend-pending %}
                    {% elif status == "not friend" %}
                        {% friend-add id=profile.id %}
                    {% elif status == "self" %}
                        
                    {% endif %}
                </div>
            </section>
            <section class="flex gap-5 mt-11 pb-6">
                {% info-pill text='Streak' number=streak emoji="⚡️" %}
                {% info-pill text='Friends' number=friends_count emoji="👬" %}
                {% info-pill text='Leaderboard crown' number=1 emoji="👑" %}
                {% info-pill text='Posts' number=post_count emoji="⏰" %}
            </section>
        </div>
    </div>
    <div class="w-[43rem] profile__posts-container rounded-xl mt-7">
        <h3 class="text-sm text-gray-700 ml-3 mb-2">All posts</h3>
        
        <section class="profile__posts">
            {% for post in posts %}
            {% profile-post task_obj=post time=post.posted_time task=post.task task_time=post.time_in_minutes emoji="👑"  id=post.id user=user like_count=post.like_count comment_count=post.comment_count %}
            {% endfor %}
        </section>
    </div>
</div>